.pro {
  font-family: "Varela", "Quicksand", sans-serif;
  font-size: 38;
  font-weight: bolder;
  color: #0b1f3a;
}

.title {
  font-family: "Varela", "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #0b1f3a;
}

.txts {
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: lighter;
}

.achieved {
  background-color: transparent;
  padding-top: 4rem;
  padding-bottom: 11rem;
  color: #0b1f3a;
}
